@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');

body {
    max-width: 600px;
    margin: auto;
    background-color: black;
}

header {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#imgTicTacToe {
    position: fixed;
}

.backgroundDiv {
    background-color: lightskyblue;
}

/* MAIN DIV */
.mainBlock {
   position: relative;
}

.blockClass {
    width: 190px;
    height: 190px;
    position: absolute;
    float: left;
    background-size: 150px 150px;
    background-position: center center;
    background-repeat: no-repeat;
}

.invisible {
    color: lightskyblue;
    font-size: 15px;
}

#winner {
    color: blue;
    margin: 0 auto;
    max-width: 150px;
    padding: 20px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#link-home button {
    margin-top: 2rem;
    text-align: center;
    border-radius: 3px;
    background-color: #0d2e75;
    color: white;
    width: 7rem;
    height: 2rem;
}

#link-home button:hover {
    background-color: #1350d4;
    cursor: pointer;
}

html *
{
    font-family: 'Alatsi', sans-serif !important;
};